.checkout-progress {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  text-decoration: none;
}

.progress-button {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color:  #E4D7F7;
  cursor: pointer;
}

.progress-button.active-button {
  background-color: #7C3AED;
  color: white;
}
.progress-button.active-button:hover {
  background-color: #5B21B6;
  color: white;
  font-weight: 400;
}
.progress-button:hover {
  text-decoration: none;
  background-color: #F1E8FF;
  border-color: #5B21B6;
  color: #5B21B6;
  font-weight: bold;
}
